<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="icon" href="../images/Logo.png" type="image/png" />
    <title>Photo VERNHET</title>
  </head>

  <body>
    <div class="navbar">
      <a href="Register.html" target="_self">S'inscrire</a>
      <a href="Login.html" target="_self">Se connecter</a>
    </div>
    <header>
      <p class="headerPP">PHOTOGRAPHE PROFESSIONNEL</p>
      <br>
      <h1>Photo VERNHET</h1>
      <br>
      <h2 class="h2P">50 Ans de photo</h2>
      <p>Portrait - Mariage - Grossesse - Bébé - Famille et bien plus encore...</p>
    </header>

    <section class="projects-section" id="projects">
      <div class="container">
        <section class="projects">
          <article class="project">
            <a
              href="School_page.html"
              target="_self"
              rel="noreferrer"
              class="project-img"
            >
              <img src="" alt="Photo scolaires" title="Scolaires/pics" />
            </a>
            <div>
              <h2>Scolaires</h2>
              <p>Pour le sourire des plus petits...</p>
            </div>
          </article>

          <article class="project">
            <a
              href="Contact_page.html"
              target="_self"
              rel="noreferrer"
              class="project-img"
            >
              <img src="" alt="Photo Mariage" title="Mariage/pics" />
            </a>
            <div>
              <h2>Mariage</h2>
              <p>Pour un amour éternel...</p>
            </div>
          </article>

          <article class="project">
            <a
              href="Contact_page.html"
              target="_self"
              rel="noreferrer"
              class="project-img"
              ><img src="" alt="Photo portrait" title="Portrait"
            /></a>
            <div>
              <h2>Portrait</h2>
              <p>Pour un shooting qui vous ressemble...</p>
            </div>
          </article>

          <article class="project">
            <a
              href="Contact_page.html"
              target="_self"
              rel="noreferrer"
              class="project-img"
              ><img src="" alt="Photo bébé" title="Naissance"
            /></a>
            <div>
              <h2>Naissance</h2>
              <p>Pour votre enfant...</p>
            </div>
          </article>

          <article class="project">
            <a
              href="Contact_page.html"
              target="_self"
              rel="noreferrer"
              class="project-img"
              ><img src="" alt="Photo grossesse" title="Grossesse"
            /></a>
            <div>
              <h2>Grossesse</h2>
              <p>Pour immortaliser votre beauté...</p>
            </div>
          </article>

          <article class="project">
            <a
              href="Contact_page.html"
              target="_self"
              rel="noreferrer"
              class="project-img"
              ><img src="" alt="Photo animalière" title="Animaux"
            /></a>
            <div>
              <h2>Animaux</h2>
              <p>Pour nos 30 millions d'amis...</p>
            </div>
          </article>

          <article class="project">
            <a
              href="Contact_page.html"
              target="_self"
              rel="noreferrer"
              class="project-img"
              ><img src="" alt="Photo d'identité" title="Identité"
            /></a>
            <div>
              <h2>Photo d'Identité</h2>
              <p>Pour des photos qui vous ressemblent...</p>
            </div>
          </article>

          <article class="project">
            <a
              href="Contact_page.html"
              target="_self"
              rel="noreferrer"
              class="project-img"
              ><img src="" alt="PhotoBooth" title="PhotoBooth"
            /></a>
            <div>
              <h2>PhotoBooth</h2>
              <p>Pour vôtre mariage ou anniversaire...</p>
            </div>
          </article>
        </section>
      </div>
    </section>
<!--
    <footer id="footer">
      <section id="contact">
        <h2>Contact</h2>
        <br />
        <p>
          Une question, un renseignement ? N'hésitez pas à nous contacter. Nous
          sommes à votre disposition.
        </p>
        <br /><br />
        <form id="contact-form">
          <label for="name"></label>
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Votre nom"
            required
          />

          <label for="email"></label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Votre adresse email"
            required
          />

          <label for="message"></label>
          <textarea
            id="message"
            name="message"
            placeholder="Votre message"
            required
          ></textarea>

          <button type="submit">Envoyer</button>
        </form>
        <br />
      </section>

      <div id="icons">
        <a
          href="https://www.facebook.com/p/PHOTO-VERNHET-100063586840534/"
          target="_blank"
        >
          <img src="images/icons8-facebook-50.png" alt="Facebook" />
        </a>
        <a href="https://www.instagram.com/photovernhet/" target="_blank">
          <img src="images/icons8-instagram-50.png" alt="Instagram" />
        </a>
        <a href="https://twitter.com/photovernhet" target="_blank">
          <img src="images/icons8-twitter-50.png" alt="Twitter" />
        </a>
      </div>
    </footer>
    -->
  </body>
</html>