@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

#navbar {
    top: 0;
    width: 100%;
    cursor: pointer;
    padding: 1.25rem 3.125rem;
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#navbar a {
    margin-right: 1.25rem;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    letter-spacing: 1px;
    transition: color 0.3s;
}

#navbar a:hover {
    color: gray;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 5px;
    color: black;
    text-align: center;
    margin: 50px 0;
}

p.text {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 5px;
    color: black;
    text-align: center;
    margin-bottom: 50px;
}

#form {
    margin: 0 auto;
    width: 50%;
    padding: 50px;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f2f2f2;
}

#form label,
#form input,
#form textarea {
    width: 100%;
    margin-bottom: 10px;
}

#form input[type="text"],
#form input[type="email"],
#form textarea {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#form input[type="text"]:focus,
#form input[type="email"]:focus,
#form textarea:focus {
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#form textarea {
    height: 150px;
}

#form button {
    background-color: #f2f2f2;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#form button:hover {
    background-color: #e6e6e6;
}

#card {
    margin-bottom: 100px;
}

#maps {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
}

#maps h2 {
    margin-bottom: 1.5rem;
}

#maps iframe {
    width: 100%;
    height: 18.75rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#infos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.infos {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem;
    padding: 25px;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f2f2f2;
}

footer {
    background-color: transparent;
    color: black;
    text-align: center;
}

footer p {
    margin-bottom: 25px;
}

#social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

}

.social_icons {
    margin: 0 20px;
    height: 50px;
}