body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form {
    background: #ffffff;
    padding: 3.125rem;
    border-radius: 0.625rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

h2 {
    margin-block-start: 0;
    margin-bottom: 2.5rem;
}

label {
    display: block;
    margin: 10px 0;
}

input[type="text"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.login {
    width: 100%;
    font-size: 1rem;
    padding: 10px;
    margin-top: 5%;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login:hover {
    background-color: #333;
}

.alert {
    padding: 2rem;
    color: red;
    text-align: center;
}

/* Mobile styles */
@media only screen and (max-width: 600px) {

    input[type="text"],
    input[type="password"],
    button {
        width: 100%;
        box-sizing: border-box;
    }

    form {
        padding: 30px;
    }
}

/* Tablet and desktop styles */
@media only screen and (min-width: 601px) {
    form {
        width: 50%;
        max-width: 500px;
    }
}

label,
input,
button {
    font-size: 1rem;
}