@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to bottom, white, rgb(235, 235, 235));
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow: auto;
}

.nav-toogler {
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background: transparent;
    border: none;
    outline: none;
}

.nav-toogler span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 2px;
    transition: all 0.3s linear;
}

#nav-wrapper.active .nav-toogler span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    background-color: white;
}

#nav-wrapper.active .nav-toogler span:nth-child(2) {
    opacity: 0;
}

#nav-wrapper.active .nav-toogler span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
    background-color: white;
}

#nav-wrapper {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right 0.3s ease;
}

#nav-wrapper.active {
    right: 0;
    z-index: 10;
}

.nav-items li {
    list-style: none;
    text-align: center;
}

.nav-items li a {
    text-decoration: none;
    color: rgb(240, 240, 240);
    font-size: 20px;
    margin: 10px 0;
}

.nav-items li a:hover {
    color: gray;
    transition: color 0.3s ease;
}

.alert {
    padding: 2rem;
    color: black;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 5px;
    color: black;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header h2 {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 5px;
    color: black;
}

#header-pretitle {
    font-weight: 400;
    letter-spacing: 4px;
    color: black;
}

header,
section,
footer {
    padding: 50px;
}

header {
    background-color: transparent;
    color: black;
    text-align: center;
}

section {
    margin: 20px 0;
}

.link-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
    transition: background-color 0.3s ease;
}

.link-button:hover {
    background-color: gray;
}

footer {
    background-color: transparent;
    color: black;
    text-align: center;
    margin-top: auto;
    padding: 10px;
}

.projects {
    padding-block-start: 5rem;
    margin-block-start: 2rem;
    display: flex;
    flex-direction: column;
    gap: 12rem;
}

.project {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    place-items: center;
    gap: 5rem;
}

.project h2 {
    padding-block-start: clamp(1.5rem, 2vw, 3rem);
    font-size: clamp(2.5rem, 3vw, 4rem);
}

.project p {
    padding-block-start: 1.5rem;
    max-width: 500px;
}

input[type="radio"] {
    display: none;
}

.carousel-container {
    width: 100%;
    max-width: 800px;
    max-height: 600px;
    height: 100%;
    transform-style: preserve-3d;
}

.carousel-pictures {
    position: relative;
    height: 100%;
}

.carousel-pic {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform 0.4s ease, opacity 0.4s ease;
    cursor: pointer;
    opacity: 0.4;
}

.carousel-container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 0 4px black;
}

.carousel-pic.center {
    transform: translateX(0) scale(1);
    opacity: 1;
    z-index: 2;
}

.carousel-pic.left {
    z-index: 1;
    transform: translateX(-50%) scale(0.8);
}

.carousel-pic.right {
    z-index: 1;
    transform: translateX(50%) scale(0.8);
}

.project:nth-child(even) div.carousel-container {
    order: 2;
}

.project:nth-child(even) div {
    order: 1;
}