@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 3.125rem;
    background-color: #f2f2f2;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    letter-spacing: 1px;
}

.navbar a:hover {
    color: gray;
}

h1 {
    text-align: center;
    margin: 3.125rem 0 3.125rem 0;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 5px;
    color: black;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.25rem 0;
}

.form-container input {
    margin: 1rem;
    padding: 1px 2px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: black;
    font-size: 1rem;
    letter-spacing: 1px;
}

.form-container button {
    margin: 1rem;
    padding: 1px 2px;
    border: none;
    border-radius: 5px;
    background-color: gray;
    color: white;
    font-size: 1rem;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
}

hr {
    width: 50%;
    margin: 1.25rem auto;
    border: 1px solid #f2f2f2;
    border-radius: 1rem;
    display: block;
}

.role-display {
    border: none;
    color: black;
    font-size: 1rem;
    letter-spacing: 1px;
}

.role-select {
    margin-left: 20px;
    margin-right: 20px;
    padding: 2px 5px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: black;
    font-size: 1rem;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
}

.update-button {
    margin: 1.25rem 0;
    padding: 2px 5px;
    border: none;
    border-radius: 5px;
    background-color: gray;
    color: white;
    font-size: 1rem;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
}

h2 {
    text-align: center;
    margin: 10rem 0 3rem 0;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.313rem;
    color: black;
}

ul {
    list-style: outside;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
}

li {
    margin: 8px 0;
    color: black;
}

@media (max-width: 650px) {
    h1 {
        text-align: center;
        margin: 3.125rem 0 3.125rem 0;
        font-size: 2.5rem;
        font-weight: 500;
        letter-spacing: 5px;
        color: black;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }

    .form-container {
        flex-direction: column;
    }
}