<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/albumSelection.css') }}"
    />
    <title>Liste des Albums</title>
  </head>
  <body>
    {% if current_user.is_authenticated %}
    <h1>Albums</h1>
    <p>Choisissez un album pour voir les images</p>
    <ul>
      {% for album in albums %}
      <li>
        <a href="{{ url_for('view_album', album_name=album.album_name) }}"
          >{{ album.album_name }}</a
        >
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <div class="request">
      <p class="error-message">Vous devez être connecté pour voir cette page</p>
      <ul>
        <li><a href="/register">Enregistrement</a></li>
        <li><a href="/login">Connexion</a></li>
      </ul>
    </div>
    {% endif %}
  </body>
</html>
