<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Album Selection</title>
  </head>
  <body>
    <h1>Album Selection</h1>
    <p>
      Welcome to our album selection page. Please choose the album you would
      like to view:
    </p>

    <div>
      <a href="">Album 1</a>
    </div>
    <div>
      <a href="">Album 2</a>
    </div>
    <div>
      <a href="">Album 3</a>
    </div>
  </body>
</html>
