<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/Logo.png') }}"
      type="image/png"
    />
    <script
      src="{{ url_for('static', filename='js/burgerMenu.js') }}"
      defer
    ></script>
    <title>Photo VERNHET</title>
  </head>

  <body>
    <div class="nav-wrapper">
      <nav>
        <div class="navigation">
          <ul class="nav-items">
            <li><a href="/register">Enregistrement</a></li>
            <li><a href="/login">Connexion</a></li>
            <li><a href="/profile">Profil</a></li>
          </ul>
          <div class="nav-toogler">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </nav>
    </div>

    <header>
      <p class="headerPP">PHOTOGRAPHE PROFESSIONNEL</p>
      <br />
      <h1>Photo VERNHET</h1>
      <br />
      <h2 class="h2P">50 Ans de photo</h2>
      <p>
        Portrait - Mariage - Grossesse - Bébé - Famille et bien plus encore...
      </p>
    </header>

    <section class="projects-section" id="projects">
      <div class="container">
        <section class="projects">
          <article class="project">
            <a
              href="/password-check"
              target="_self"
              rel="noreferrer"
              class="project-img"
            >
              <img src="" alt="Photo scolaires" title="Scolaires/pics" />
            </a>
            <div>
              <h2>Scolaires</h2>
              <p>Pour le sourire des plus petits...</p>
            </div>
          </article>

          <article class="project">
            <a
              href="/contact"
              target="_self"
              rel="noreferrer"
              class="project-img"
            >
              <img src="" alt="Photo Mariage" title="Mariage/pics" />
            </a>
            <div>
              <h2>Mariage</h2>
              <p>Pour un amour éternel...</p>
            </div>
          </article>

          <article class="project">
            <a
              href="/contact"
              target="_self"
              rel="noreferrer"
              class="project-img"
            >
              <img src="" alt="Photo portrait" title="Portrait" />
            </a>
            <div>
              <h2>Portrait</h2>
              <p>Pour un shooting qui vous ressemble...</p>
            </div>
          </article>

          <article class="project">
            <a
              href="/contact"
              target="_self"
              rel="noreferrer"
              class="project-img"
            >
              <img src="" alt="Photo bébé" title="Naissance" />
            </a>
            <div>
              <h2>Naissance</h2>
              <p>Pour votre enfant...</p>
            </div>
          </article>

          <article class="project">
            <a
              href="/contact"
              target="_self"
              rel="noreferrer"
              class="project-img"
            >
              <img src="" alt="Photo grossesse" title="Grossesse" />
            </a>
            <div>
              <h2>Grossesse</h2>
              <p>Pour immortaliser votre beauté...</p>
            </div>
          </article>

          <article class="project">
            <a
              href="/contact"
              target="_self"
              rel="noreferrer"
              class="project-img"
            >
              <img src="" alt="Photo animalière" title="Animaux" />
            </a>
            <div>
              <h2>Animaux</h2>
              <p>Pour nos 30 millions d'amis...</p>
            </div>
          </article>

          <article class="project">
            <a
              href="/contact"
              target="_self"
              rel="noreferrer"
              class="project-img"
            >
              <img src="" alt="Photo d'identité" title="Identité" />
            </a>
            <div>
              <h2>Photo d'Identité</h2>
              <p>Pour des photos qui vous ressemblent...</p>
            </div>
          </article>

          <article class="project">
            <a
              href="/contact"
              target="_self"
              rel="noreferrer"
              class="project-img"
            >
              <img src="" alt="PhotoBooth" title="PhotoBooth" />
            </a>
            <div>
              <h2>PhotoBooth</h2>
              <p>Pour vôtre mariage ou anniversaire...</p>
            </div>
          </article>
        </section>
      </div>
    </section>
  </body>
</html>
