<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/Logo.png') }}"
      type="image/png"
    />
    <script
      src="{{ url_for('static', filename='js/burgerMenu.js') }}"
      defer
    ></script>
    <script
      src="{{ url_for('static', filename='js/carousel.js') }}"
      defer
    ></script>
    <title>Photo VERNHET</title>
  </head>

  <body>
    <div id="nav-wrapper">
      <nav>
        <ul class="nav-items">
          {% if not current_user.is_authenticated %}
          <li><a href="/register">Enregistrement</a></li>
          <li><a href="/login">Connexion</a></li>
          {% else %}
          <li><a href="/profil">Profil</a></li>
          <li><a href="/albums">Albums</a></li>
          <li><a href="/logout">Déconnexion</a></li>
          {% if current_user.role == 'admin' %}
          <li><a href="/admin">Page administrateur</a></li>
          {% endif %} {% endif %}
        </ul>
        <div class="nav-toogler">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </nav>
    </div>
    <!-- refaire la gestion des flash -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="alert">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %}

    <header>
      <p id="header-pretitle">PHOTOGRAPHE PROFESSIONNEL</p>
      <br />
      <h1>Photo VERNHET</h1>
      <br />
      <h2>50 Ans de photo</h2>
      <p>
        Mariage - Portrait - Naissance - Grossesse - Animaux et bien plus encore...
      </p>
    </header>

    <section class="projects" oncontextmenu="return false;">
      <article class="project">
        <div class="carousel-container" id="carousel-1">
          <input type="radio" name="slider1" id="item-1-1" />
          <input type="radio" name="slider1" id="item-1-2" />
          <input type="radio" name="slider1" id="item-1-3" />
          <div class="carousel-pictures">
            <label class="carousel-pic" for="item-1-1">
              <img src="/static/images/Scolaire/Sud_2008_C.jpg" alt="picture" />
            </label>
            <label class="carousel-pic" for="item-1-2">
              <img src="/static/images/Scolaire/Sud_2008_M.jpg" alt="picture" />
            </label>
            <label class="carousel-pic" for="item-1-3">
              <img src="/static/images/Scolaire/Portrait_N.jpg" alt="picture" />
            </label>
          </div>
        </div>
        <div>
          <h2>Scolaires</h2>
          <p>Pour le sourire des plus petits...</p>
          <a href="/password-check" target="_self" rel="noreferrer">
            <button class="link-button">S'y rendre</button>
          </a>
        </div>
      </article>

      <article class="project">
        <div class="carousel-container" id="carousel-2">
          <input type="radio" name="slider2" id="item-2-1" />
          <input type="radio" name="slider2" id="item-2-2" />
          <input type="radio" name="slider2" id="item-2-3" />
          <div class="carousel-pictures">
            <label class="carousel-pic" for="item-2-1">
              <img
                src="/static/images/Mariage/2023-07-27_111810.jpg"
                alt="picture"
              />
            </label>
            <label class="carousel-pic" for="item-2-2">
              <img src="/static/images/Mariage/DSC02017.jpg" alt="picture" />
            </label>
            <label class="carousel-pic" for="item-2-3">
              <img
                src="/static/images/Mariage/DSC00438 copie - Copie.jpg"
                alt="picture"
              />
            </label>
          </div>
        </div>
        <div>
          <h2>Mariage</h2>
          <p>Pour un amour éternel...</p>
          <a href="/contact" target="_self" rel="noreferrer">
            <button class="link-button">Nous contacter</button>
          </a>
        </div>
      </article>

      <article class="project">
        <div class="carousel-container" id="carousel-3">
          <input type="radio" name="slider3" id="item-3-1" />
          <input type="radio" name="slider3" id="item-3-2" />
          <input type="radio" name="slider3" id="item-3-3" />
          <div class="carousel-pictures">
            <label class="carousel-pic" for="item-3-1">
              <img
                src="/static/images/Portrait/DSC_4221 copie.jpg"
                alt="picture"
              />
            </label>
            <label class="carousel-pic" for="item-3-2">
              <img
                src="/static/images/Portrait/DSC_7784 copie.jpg"
                alt="picture"
              />
            </label>
            <label class="carousel-pic" for="item-3-3">
              <img
                src="/static/images/Portrait/DSC_4402 copie.jpg"
                alt="picture"
              />
            </label>
          </div>
        </div>
        <div>
          <h2>Portrait</h2>
          <p>Pour un shooting qui vous ressemble...</p>
          <a href="/contact" target="_self" rel="noreferrer">
            <button class="link-button">Nous contacter</button>
          </a>
        </div>
      </article>

      <article class="project">
        <div class="carousel-container" id="carousel-4">
          <input type="radio" name="slider4" id="item-4-1" />
          <input type="radio" name="slider4" id="item-4-2" />
          <input type="radio" name="slider4" id="item-4-3" />
          <div class="carousel-pictures">
            <label class="carousel-pic" for="item-4-1">
              <img
                src="/static/images/Naissance/DSC00885 copie 5.jpg"
                alt="picture"
              />
            </label>
            <label class="carousel-pic" for="item-4-2">
              <img
                src="/static/images/Naissance/DSC_6685 copie 3.jpg"
                alt="picture"
              />
            </label>
            <label class="carousel-pic" for="item-4-3">
              <img
                src="/static/images/Naissance/DSC_9800 copie.jpg"
                alt="picture"
              />
            </label>
          </div>
        </div>
        <div>
          <h2>Naissance</h2>
          <p>Pour votre enfant...</p>
          <a href="/contact" target="_self" rel="noreferrer">
            <button class="link-button">Nous contacter</button>
          </a>
        </div>
      </article>

      <article class="project">
        <div class="carousel-container" id="carousel-5">
          <input type="radio" name="slider5" id="item-5-1" />
          <input type="radio" name="slider5" id="item-5-2" />
          <input type="radio" name="slider5" id="item-5-3" />
          <div class="carousel-pictures">
            <label class="carousel-pic" for="item-5-1">
              <img
                src="/static/images/Grossesse/DSC00564 copie 3.jpg"
                alt="picture"
              />
            </label>
            <label class="carousel-pic" for="item-5-2">
              <img
                src="/static/images/Grossesse/DSC_1917 copie.jpg"
                alt="picture"
              />
            </label>
            <label class="carousel-pic" for="item-5-3">
              <img
                src="/static/images/Grossesse/KS8A6113 copie.jpg"
                alt="picture"
              />
            </label>
          </div>
        </div>
        <div>
          <h2>Grossesse</h2>
          <p>Pour immortaliser votre beauté...</p>
          <a href="/contact" target="_self" rel="noreferrer">
            <button class="link-button">Nous contacter</button>
          </a>
        </div>
      </article>

      <article class="project">
        <div class="carousel-container" id="carousel-6">
          <input type="radio" name="slider6" id="item-6-1" />
          <input type="radio" name="slider6" id="item-6-2" />
          <input type="radio" name="slider6" id="item-6-3" />
          <div class="carousel-pictures">
            <label class="carousel-pic" for="item-6-1">
              <img
                src="/static/images/Animaux/DSC_2452 copie.jpg"
                alt="picture"
              />
            </label>
            <label class="carousel-pic" for="item-6-2">
              <img
                src="/static/images/Animaux/DSC_5774 copie.jpg"
                alt="picture"
              />
            </label>
            <label class="carousel-pic" for="item-6-3">
              <img
                src="/static/images/Animaux/DSC_9230 copie.jpg"
                alt="picture"
              />
            </label>
          </div>
        </div>
        <div>
          <h2>Animaux</h2>
          <p>Pour nos 30 millions d'amis...</p>
          <a href="/contact" target="_self" rel="noreferrer">
            <button class="link-button">Nous contacter</button>
          </a>
        </div>
      </article>

      <article class="project">
        <div class="carousel-container" id="carousel-7">
          <input type="radio" name="slider7" id="item-7-1" />
          <input type="radio" name="slider7" id="item-7-2" />
          <input type="radio" name="slider7" id="item-7-3" />
          <div class="carousel-pictures">
            <label class="carousel-pic" for="item-7-1">
              <img
                src="/static/images/Photo Identité/DSC_4179.JPG"
                alt="picture"
              />
            </label>
            <label class="carousel-pic" for="item-7-2">
              <img
                src="/static/images/Photo Identité/DSC_7304.JPG"
                alt="picture"
              />
            </label>
            <label class="carousel-pic" for="item-7-3">
              <img
                src="/static/images/Photo Identité/DSC_7307.JPG"
                alt="picture"
              />
            </label>
          </div>
        </div>
        <div>
          <h2>Photo d'Identité</h2>
          <p>Pour des photos qui vous ressemblent...</p>
          <a href="/contact" target="_self" rel="noreferrer">
            <button class="link-button">Nous contacter</button>
          </a>
        </div>
      </article>

      <article class="project">
        <div class="carousel-container" id="carousel-8">
          <input type="radio" name="slider8" id="item-8-1" />
          <input type="radio" name="slider8" id="item-8-2" />
          <input type="radio" name="slider8" id="item-8-3" />
          <div class="carousel-pictures">
            <label class="carousel-pic" for="item-8-1">
              <img
                src="/static/images/Photobooth/02_06_23__13_45_27_Stripe_Composition.jpg"
                alt="picture"
              />
            </label>
            <label class="carousel-pic" for="item-8-2">
              <img
                src="/static/images/Photobooth/07_09_23__13_20_58_Composition.jpg"
                alt="picture"
              />
            </label>
            <label class="carousel-pic" for="item-8-3">
              <img
                src="/static/images/Photobooth/21_12_23__18_32_02_Composition.jpg"
                alt="picture"
              />
            </label>
          </div>
        </div>
        <div>
          <h2>PhotoBooth</h2>
          <p>Pour vôtre mariage ou anniversaire...</p>
          <a href="/contact" target="_self" rel="noreferrer">
            <button class="link-button">Nous contacter</button>
          </a>
        </div>
      </article>
    </section>
  </body>
</html>
