<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <title>Connexion</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/LoginStyle.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/Logo.png') }}"
      type="image/png"
    />
  </head>
  <body>
    {% with messages = get_flashed_messages(category_filter=["error"]) %} {% if
    messages %}
    <div class="error-messages">
      {% for message in messages %}
      <p>{{ message }}</p>
      {% endfor %}
    </div>
    {% endif %} {% endwith %}
    <form action="{{ url_for('login') }}" method="post">
      <h2>Connexion</h2>
      {{ form.hidden_tag() }} {{ form.username.label }} {{ form.username() }} {{
      form.password.label }} {{ form.password() }}
      <input type="submit" value="Login" />
    </form>
  </body>
</html>
