<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/profile.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/Logo.png') }}"
      type="image/png"
    />
    <title>Profil</title>
  </head>
  <body>
    <form class="info" action="{{ url_for('profile') }}" method="post">
      {{ form.hidden_tag() }}
      <h1>Modifier le Profil</h1>

      <label for="username">Nom d'utilisateur</label>
      <input
        type="text"
        id="username"
        name="username"
        value="{{ current_user.username }}"
        required
      />

      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        value="{{ current_user.email }}"
        required
      />

      <label for="password"
        >Nouveau mot de passe (laisser vide pour ne pas changer)</label
      >
      <input type="password" id="password" name="password" />

      <label for="confirm_password">Confirmer le mot de passe</label>
      <input type="password" id="confirm_password" name="confirm_password" />

      <button type="submit">Mettre à jour</button>
    </form>
  </body>
</html>
