<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/School_style.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/Logo.png') }}"
      type="image/png"
    />
    <title>Photo VERNHET</title>
  </head>
  <body>
    {% if current_user.is_authenticated %}
    <div id="navbar">
      <a href="/" target="_self">Accueil</a>
      <a href="/contact" target="_self">Contact</a>
    </div>
    <h1>Choix de l'établissement</h1>
    <div id="form-container">
      <p>Bienvenue, {{ current_user.username }} !</p>
      <p>Choisissez votre école :</p>
      <div id="card">
        <form action="{{ url_for('choose_school') }}" method="post">
          <select name="school_name">
            {% for school in schools %}
            <option value="{{ school }}">{{ school }}</option>
            {% endfor %}
          </select>
          <button type="submit">Choisir cette école</button>
        </form>
      </div>
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <div id="flash-messages">
        {% for category, message in messages %}
        <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
      </div>
      {% endif %} {% endwith %}
    </div>
    {% else %}
    <div id="background">
      <div id="login">
        <p>Vous devez être connecté pour voir cette page :</p>
        <a href="{{ url_for('login') }}">Connexion</a>
      </div>
    </div>
    {% endif %}
  </body>
</html>
