<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/School_style.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/Logo.png') }}"
      type="image/png"
    />
    <title>Photo VERNHET</title>
  </head>
  <body>
    <div id="navbar">
      <a href="/" target="_self">Accueil</a>
      <a href="/contact" target="_self">Contact</a>
    </div>
    <h1>Choix de l'établissement</h1>
  </body>
</html>
