@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #333;
    opacity: 0.8;
}

.navbar a {
    float: center;
    color: white;
    text-align: center;
    padding: 8px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 5px;
    color: black;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 50px 0;
}

p {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 5px;
    color: black;
    text-align: center;
    margin-bottom: 50px;
}

#form {
    /* styles du formulaire */
    margin: 0 auto;
    width: 50%;
    padding: 50px;
}

#form label, #form input, #form textarea {
    /* styles des champs */
    width: 100%;
    margin-bottom: 10px;
}

#form button {
    /* style du bouton */
    background-color: gray;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#form button:hover {
    background-color: lightgray;
}

footer {
    background-color: transparent;
    color: black;
    text-align: center;
}

footer p {
    margin-bottom: 25px;
}

#social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

}

.social_icons {
    margin: 0 20px;
    height: 50px;
}